---
Language:        Cpp
BasedOnStyle:  WebKit

BreakBeforeBraces: Custom

BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

FixNamespaceComments: true
MaxEmptyLinesToKeep: 2
SortIncludes:    false
AlignAfterOpenBracket: Align
