#Build temporary
*.a
*.sw*

CMakeCache.txt
CMakeFiles
Makefile
moc_*
*.moc
build-release
build-debug
cmake-build-debug
*-Debug
*-Release
build
bin
libs/server-clib
libs/server-clib.*

lcov

doxygen

build

nohup.out

#Mergetool
*.orig

#Python
*.pyc
*.pyo
*.egg-info/

#IDE
.vscode/
.idea/
*.user
.vs/
*.vcxproj*
*.cbp
